body {
    background: #1e1e1e;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background: #2d2d2d;
    padding: 20px;
    text-align: center;
}

.categoria {
    background: #333;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
}

.categoria:hover {
    background: #444;
}
header{
    text-align:center;
    padding:30px;
    background:#2a2a2a;
}

.categoria{
    background:#333;
    margin:20px;
    padding:15px;
    border-radius:10px;
}

.botao{
    display:block;
    width:200px;
    margin:20px auto;
    text-align:center;
    background:#5865F2;
    color:white;
    padding:10px;
    text-decoration:none;
    border-radius:10px;
}
